<main>
  <div class="container">
    <form class="padding" action="addUser.php" method="post">
      <div class="form-group">
        <label for="username">USERNAME</label>
        <input class="form-control" type="text" name="username" value="" id="username">
      </div>
      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input class="form-control" type="password" name="password" value="" id="password">
      </div>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>
  </div>
  <!-- table of approved users -->
  <div class="container mt-2">
    <h2 id="listWord">List of approved users</h2>
  </div>
  <div class="container pb-4">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>User</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <?php $user = Users::open($_POST); ?>
      <!-- populates user table -->
      <?php foreach ($user as $foo) : ?>
      <tr>
        <?php echo "<td>" . $foo->username . "</td>"; ?>
        <td>
          <span>
            <a class="btn btn-primary btn-sm" href="deleteUser.php?id=<?php echo $foo->id ?>">DEL</a>
          </span>
        </td>
      </tr>
      <?php endforeach ?>
    </table>
  </div>
</main>