<!-- search FORM -->
<div class="container pb-2 pb-sm-3">
  <form action="admin.php" method="post">
    <div class="form-row align-items-center justify-content-center">
      <div class="col col-sm-8  align-items-center">
        
        <input class="form-control" type="search" name="word" placeholder="Search Words" value='Search Words' aria-label="Search">
      </div>
      <div class="col col-sm-4">
        <button class="btn btn-outline-success w-100" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
<!--  code for flash box -->
{{!-- <?php if ($_SESSION['flash']['type'] == 'alert' ) : ?> --}}
<!--  code for flash box -->
<div class='container'>
  <div class='alert alert-danger text-center' role='alert'>
    {{!-- <?php endif ?>
    <?php if ($_SESSION['flash']['type'] == 'notice' ) : ?> --}}
    <div class='container'>
      <div class='alert alert-success text-center' role='alert'>
        {{!-- <?php endif ?>
        <?php
          if (isset($_SESSION['flash'])) {             
              echo '<p>' . $_SESSION['flash']['message'] . '</p>';
              echo '</div';
              echo '</div>';
              // unset($_SESSION['flash']);
          } 
      ?> --}}
      </div>
      <main>
        <!-- cue and total words -->
        {{!-- <?php if ( ! isset($_SESSION['flash']) ) : ?> --}}
        <!-- click on word message dissapears w/flash set -->
        
        {{!-- <?php endif ?>
        <?php unset($_SESSION['flash']); ?> --}}

        <div class="container text-center">
          <div class="row-12">
            <div class="col text-center text-sm-left">
              <p>Total words in database: {{totalWords}}</p>
            </div>
          </div>
        </div>
        <!-- scroll box -->
        <div class="container" id="scrollBox">
      <div class="row no-gutters flex-wrap py-3">
        {{#each words}}
          <div class='col-6 col-sm-4 col-md-2 text-center py-1' style='list-style: none;'>
           <a href="">{{this}}</a>
          </div>               
        {{/each}}
      </div>
    </div>
      </main>