<main>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p id="editWord">Selected Word: {{word}}</p>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col text-center center-block">
        <a href="">word update</a>
        <button type="button" class="btn btn-primary center-block">Update</button>

      </div>
    </div>
    <div class="row">
      <div class="col text-center center-block">
        <a href="">word delete</a>
        <button type="button" class="btn btn-danger center-block">Delete</button>

      </div>
    </div>
  </div>
</main>