<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NodeJsFlashCard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <!-- jumbotron -->
  <header>
    <div class="container-fluid">
      <div class="jumbotron py-1 py-sm-4 text-center mt-2">
        <div class="row">
          <div class="col">
            <h1>High-Frequency Words</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end of jumbotron -->
  <!-- navigation -->
  <div class="container pb-4">
    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
      <div style="width: 100%"></div>
      <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav">
          {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link" href='/admin.html'>ADMIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/users.html'>USERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout.html'>LOGOUT</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/'>{{name}}</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login.html">LOGIN</a>
          </li>
          {{/if}} 
          {{#if home}}
          <li class='nav-item'>
            <a class='nav-link' href='/'>HOME</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  {{#if message}}
  <div class='container'>
    <div class="alert alert-success text-center">{{message}}</div>
  </div>
  {{/if}}

  <!-- end of navigation -->
  <div class='container'>
    {{{content}}}
  </div>

  <!-- footer -->
  <footer>
    <div class='container-fluid mt-4 pt-6 bg-light text-dark fixed-bottom'>
      <div class='row justify-content-center mt-3'>
        <p>Copyright &copy 2017 Brian Barth</p>
      </div>
    </div>
  </footer>
  <!-- end of footer -->
</body>

</html>